body {
 
    font-family: 'Roboto', sans-serif;
    
}

 .primeiro{
    flex-direction: row;
 } 
 
.login.signup{
    background-color: rgba(161, 9, 9, 0.623);
    color: aliceblue;
    
}
  
.header {
    background-color: #AEFF00; 
    margin-bottom: 0;
}

.logo{
    
    height: 100px;
    margin-left: 100px;
}

/* .header-text > a {
    text-align: center;
    text-decoration: none;
    color: #1B1B1B;
}

.lupa{
    height: 50px;
}

.perfil{
    height: 50px;
}  */